clr-modal#issue_edit_modal {
    .modal-header, .modal-header--accessible {
        display: none;
    }

    .modal-dialog {

        .modal-content {
            margin: 1.2rem;
            padding: 0;
        }

        .modal-footer {
            padding: 1.2rem;
        }
    }

    #issue_edit__title {
        margin-top: 0;
        margin-bottom: 2.4rem;

        .clr-form-control {
            margin-top: 0;
            padding: 1.2rem 0;
        }
    }

    .clr-form-control {
        margin-top: 0.6rem;
        padding: 0 1.2rem;
    }

    .clr-control-container,
    .clr-input-wrapper {
        width: 100%;
    }

    .clr-select-wrapper::after {
        top: 0.75rem;
    }

    .clr-control-label {
        margin-bottom: 0.3rem;
    }

    .clr-form {
        padding: 0;
    }

    input,
    select {
        padding: 0.2rem 2rem 0.2rem 0;
        height: 2rem;
        max-height: 2.4rem;
    }

    select {
        font-size: 0.875rem;
    }

    clr-tabs {

        > ul {
            margin: 1.2rem 1.2rem 0;
            width: auto;
            box-shadow: none;
            margin-bottom: 0.5rem;
        }

        .ql-toolbar {
            margin: 0 1.2rem;
        }

        .ql-container {
            margin: 0 1.2rem 1.2rem;
        }

        .ngx-quill-view-html .ql-editor {
            padding: 0;
        }
    }
}
