<div id="board" class="p-8">
    <h1 class="mb-12 leading-tight text-2xl font-bold">Board</h1>
    <section id="board__topbar_filters">
        <div id="board__topbar_filters__search" class="relative">
            <input clrInput placeholder="Search" [(ngModel)]="topBarFilterSearch" class="bg-gray-200 py-1 pl-2 pr-6" />
            <clr-icon shape="search" class="relative -ml-5"></clr-icon>
        </div>
        <div id="board__topbar_filters__users">

        </div>
        <div id="board__topbar_filters__tags">

        </div>
    </section>
</div>
