#board__issues {
    height: calc(100% - 9rem);
    width: calc(100vw - 20rem);
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

    &.expanded {
        width: calc(100vw - 5rem);
    }

    .list {
        background-color: #F1F3F5;
        border: 1px solid #dbdbdb;
        border-radius: 0.25rem;
        width: 20rem;
        min-width: 16rem;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }

        .list_header {
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0.25rem 0.25rem 0 0;
        }

        .list_issues {

            &.cdk-drop-list-dragging .issue:not(.cdk-drag-placeholder),
            .issue__drag_placeholder {
                transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
            }

            .issue {

                &:not(:first-of-type) {
                    margin-top: 0.5rem;
                }

                .issue_metadata {

                    .tooltip-content {
                        font-size: 0.8rem !important;
                    }
                }
            }

            .issue__drag_placeholder {
                border-width: 1px;
                margin: 0.5rem 0;
                min-height: 5rem;
            }
        }
    }
}

.cdk-drag-preview {
    @apply shadow-xl border-gray-400;
}
