#settings__content {

    form {
        padding: 0;

        .clr-form-control {

            &:not(:first-child) {
                margin-top: 2rem;
            }

            label,
            input,
            select {
                font-size: 1rem;
            }

            .clr-subtext {
                font-size: 0.75rem;
                margin-left: 0.25rem;
            }
        }
    }
}
